<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap" rel="stylesheet">
<div class="left-bar">
    <img src="../../assets/images/logo2.png" width="70px" height="50px">
</div>

<div class="center">
    <div class="heading"> 
        Home
    </div>
    <div class="tweets">
        <input type="text"  class="tweet-box" [(ngModel)]="tweetText"placeholder="What's happening?"/><br><br>
        <input type="submit" value="Tweet" class="btn btn-primary" (click)="tweet()"/>
    </div>
    <hr>

    <div class="displayTweets">
        <ul>
            <li class="tweetsDisplay" *ngFor="let i of list2"><span class="UsernameF">@{{i.username}}</span> 
            <br><span class="UsernameF">{{i.tweet}}</span><br><hr><br></li>         
        </ul>
    </div>
</div>

<div class="right-bar">
    <span class="Username">Hey {{username}}</span>
    <button class="btn btn-primary logout" (click)="logout()"> Logout</button>
<hr>

    <div class="OtherAccounts">
        <span class="Username">Other users</span>
        <br><br>
        <ul>
            <li class="Follow-box" *ngFor="let i of list"><span class="UsernameF">@{{i.username}}</span> <button class="btn btn-primary Follow-btn">Follow</button><br><br></li>         
        </ul>
        
    </div>
</div>


